<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here -->
    <table class="rules">
        <tr th:each="item : ${terms}">
            <td>
                <span th:text="${item.term}">TERM</span>
            </td>
            <td>
                <span th:text="${item.definition}">DEFINITION</span>
            </td>
            <td>
                <span th:text="${item.regulation}">REGULATION</span>
            </td>
        </tr>
    </table>


</div>

</body>
</html>